 

  html,body {
    font-family: "Roboto","Lucida Sans", sans-serif;    
    width: 100%;
    --topbar-altura:60px;
    --fundo-card: #E5E5E5;

  }  
  .espaco{
    height: calc(var(--topbar-altura) + 10px);
  }
  .wid95{
    width: 95%;
  }
   
  .borda-redonda{
    border-radius: 1.5vh;
  }
  
  input{
    border: none;
    padding: 1vh;
    padding-left: 3vh;
    font-size: 27px; 
    outline: none;
  }
  
  .inputdiv{
    border: 1px solid;
  }
  .logo{
    max-width: 30px;
    max-height: 30px;
    padding: 1em;
  }
  h1{
    font-family:   "Calibri Light", 'Trebuchet MS', sans-serif;
  }


  .header {    
    background: white;
    position: fixed; 
    top:0;     
    max-height: var(--topbar-altura);
    box-shadow: 10px 1px 11px 1px;
    padding: 1vh 2vh;
    padding-right: 424px;
  }
  main{
    margin: 11vh;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .gridcards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 37vh);
    gap:27px;
  }
  .card{
    padding: 2vh;
    background: var(--fundo-card);
  }
  .flexend{ 
    justify-content: flex-end;
  }

   
  
 
  
    