* {
    box-sizing: border-box;
    color:white; 
  }

  html {
    font-family: "Lucida Sans", sans-serif;
  } 

  .header { 
    background-color: #33c7cc;    
    position: fixed; 
    top:0;
    width: 100%;
    max-height: 21vh;
  }
  .resto{
      background-color: #3a1722;
           
  }
  
 
  
    