* {
    box-sizing: border-box; 
  }

  html {
    font-family: "Lucida Sans", sans-serif;
  } 

  .header { 
    background-color: #33c7cc;    
    position: fixed; 
    top:0;
    width: 100%;
    max-height: 70px;
    box-shadow: 1px 1px 3vh 1px;
  }
   
  
 
  
    